<h1>Detalle del producto seleccionado:</h1>
<div class="product-card-detalle">

    <div>
        <img src={{productById.thumbnails}} alt={{productById.title}} className="img-product-detalle" />
    </div>
    <div className="product-main-detalle">
        <p id="product-id">{{productById._id}}</p>
        <p>Nombre: {{productById.title}}</p>
        <p>Descripción: {{productById.description}}</p>
        <p>Precio: {{productById.price}}</p>
        <div class="stock-container">
            <p>Stock:</p>
            <p id="stock">{{productById.stock}}</p>
        </div>
        <p>Categoría: {{productById.category}}</p>

        <div class="buttons-card-detalle">
            <div id="counter-container">
                <button id="add">+</button>
                <p id="quantity">1</p>
                <button id="rest">-</button>
            </div>

            {{#if isLogIn}}
            {{#if isAdmin}}
            <button id="addToCart">Agregar al carrito</button>
            <a href="/carts"><button>Ir al carrito</button></a>
            {{/if}}
            {{/if}}
            <a href="/"><button>Volver</button></a>
        </div>

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>{{!-- script de Axios en el cliente --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>{{!-- script de Toastify --}}
<script src="/js/addToCart.js"></script>{{!-- mi js --}}