<div>
    <h1>Detalle del producto seleccionado:</h1>
    <div id="product-card">
        <p id="product-id">{{productById._id}}</p>
        <p>Nombre: {{productById.title}}</p>
        <p>Descripción: {{productById.description}}</p>
        <p>Precio: {{productById.price}}</p>
        <p>Categoría: {{productById.category}}</p>
        <p>Links imágenes: {{productById.thumbnails}}</p>
        <div id="counter-container">
            <button id="add">+</button>
            <p id="quantity">1</p>
            <button id="rest">-</button>
        </div>
        <button id="addToCart">Agregar al carrito</button>
        <a href="/carts/{{cartExample}}"><button>Ir al carrito</button></a>
        <a href="/"><button>Volver</button></a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>{{!-- script de Axios en el cliente --}}
<script src="/js/addToCart.js"></script>{{!-- mi js --}}